.user-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid black;
  padding: 40px;
  background-color: whitesmoke;
  border-radius: 20px;
  border: none;
  box-shadow: rgba(54, 54, 54, 0.25) 0px 54px 55px,
    rgba(61, 60, 60, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.button-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 20px;
}

.btn {
  padding: 10px;
}

.container {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.button {
  padding: 15px;
  border-radius: 20px;
  border: none;
  box-shadow: rgba(54, 54, 54, 0.25) 0px 54px 55px,
    rgba(61, 60, 60, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  transition: all ease-in-out 0.2s;
}

.button:hover {
  background-color: rgb(48, 47, 47);
  color: white;
  cursor: pointer;
}
